@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Island Moments Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Island Moments Regular'), url('/assets/fonts/IslandMoments-Regular.woff') format('woff');
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


